.etage{
  position: relative;
  top: 45vh;
}

.etage ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  float: right;
  width: 15vw;
}
.etage li{
  border-radius: 7px;
}

.etage li a{
  display: block;
  height: 3vh;
  width: 11vw;
  font-size: 2vh;
  color: white;
  text-align: left;
  padding: 10px 16px;
  margin: 10px;
  text-decoration: none;
}

.carte{
  background-color: #935B9E;
  height:60vh;
}

.etage .oneF{
  background-color: #FAD053;
}
.etage .twoF{
  background-color: #DA4759;
}

.carte{
  position: relative;
}

.map{
  position: absolute;
  background-color: #D9D9D9;
  height: 50vh;
  width:50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map div{
  border: solid;
  box-sizing: border-box;
  font-size: 2.5vh;
}

.map a{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}



